<div id="footer">
	<span id="copyright">Design by <a href="http://www.sitecreative.net" target="_blank" title="Opens link to SiteCreative.net in a New Window">SiteCreative</a></span>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Technology Solutions</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Strategic Partners</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Jobs</a></li>
	</ul>
</div>
