<div id="navigation">
	<ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">ABOUT US</a></li>
		<li><a href="#">TECHNOLOGY SOLUTIONS</a></li>
		<li><a href="#">PORTFOLIO</a></li>
		<li><a href="#">STRATEGIC PARTNERS</a></li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">JOBS</a></li>
	</ul>
</div>
