<div id="navigation">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/about_us">ABOUT US</a></li>
		<li><a href="/contact_us">CONTACT US</a></li>
		<li><a href="/jobs">JOBS</a></li>
		<li><a href="/sign_up">SIGN UP</a></li>
		<li><a href="/login">SUBJECT LOGIN</a></li>
	</ul>
</div>
