<div id="navigation">
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/about-us">ABOUT US</a></li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">JOBS</a></li>
		<li><a href="/sign-up">SIGN UP</a></li>
		<li><a href="/login">SUBJECT LOGIN</a></li>
	</ul>
</div>
