<div class="container">

	<div id="post">
		<h1>{{get_name}} is a global leader in cutting edge research!</h1>
		<p class="lead">{{get_name}} is a research and development company specializing in helping people just like you unlock their hidden potential.</p>
		<a id="main-cta" href="/sign-up">Sign Up</a>
	</div>

</div><!-- /.container -->
