<div class="container">

	<div id="post">
		<h1>{{get_name}} is a global leader in cutting edge research!</h1>
		<p class="lead">Here at {{get_name}}, the betterment of humanity is our number 1 priority. Established in the early 1900’s, {{get_name}} has been at the forefront of scientific advancement and discovery for nearly a century.</p>

		<p>{{get_name}}’s philosophy emphasizes the creation of basic knowledge in the scientific field for its implementation in medicine, technology, and a variety of other applications to make way for the future. The pursuit of fundamental scientific advances through interdisciplinary programs and collaborations, and the education and training of researchers preparing to meet the scientific challenges of the future is something we strive to be ahead of.</p>

		<p>The institute — located on campuses in central New Mexico — has become internationally recognized for its research and technology. Though we are one of the leading research institutes in the nation, we are not content to rest on our laurels. Our strategic plans serve as both a guidepost and inspiration to help us achieve our ambitious and important goals.</p>

		<p>We are also using the principles of complex scientific research to reduce the administrative burden of our research teams so they can expedite their work to develop the best applications that science has to offer.</p>

		<a id="main-cta" href="/sign_up">Sign Up</a>
	</div>

</div><!-- /.container -->
