<div class="container">

	<div id="post">
		<h1>{{get_name}} wants to hear from you!</h1>
		<p class="lead">{{get_name}} cares about your feedback.  Send us a message with this contact form that we haven't built yet.</p>
	</div>

</div><!-- /.container -->
