<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<p class="lead">You've successfully contacted us.  We'll do our best to reply promptly.  Thank you for your intereste in {{get_name}}</p>
	</div>

</div><!-- /.container -->
