<div class="container">

	<div id="post">
		<h1>{{get_name}} is helping you be a better you!</h1>
		<p class="lead">Here at {{get_name}}, we specialize in cutting edge research.  We're passionate about helping people unlock their hidden potential, and we believe through our research, anything is possible.  You're your own person, and we can help you do things you never thought you could be capable of.</p>
		<p>We are constantly looking for test subjects to help us refine our technology.  It's easy too!  You can do it from home, and if you meet the experiment's criteria you will be fully compensated for your time.  What are you waiting for?  Be part of the future today.</p>
		<a id="main-cta" href="/sign_up">Sign Up</a>
	</div>

</div><!-- /.container -->
