<div class="container">

	<div id="post">
		<h1>{{get_name}} jobs</h1>
		<p class="lead">Be the best you can be, be the person you should be, commit yourself to excellence and science, make a difference and make friends while doing it. Although we employ many people within our institute, as of now, the Dean and Gray institute only needs two offers to be filled.</p>

		<p>Test subjects -  a living individual about whom a research investigator obtains information about a subject. You will be compensated and you can even do it from home.</p>

		<p>Computer engineer - specifics to come at a later date, watch this space.  Just know that secrecy and attention to detail are extremely important to us.</p>
	</div>

</div><!-- /.container -->
