<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<p class="lead">You're now logged into the secure research subject portal.  Please click <a href="/secure">here</a> to enter.</p>
	</div>

</div><!-- /.container -->
