<div class="container">

	<div id="post">
		<h1>{{get_name}} is no longer accepting subjects.</h1>
		<p class="lead">Due to overwhelming response, we are no longer accepting new applications for research subjects in our study.  We thank everyone for their time and interest.</p>
	</div>

</div><!-- /.container -->
