<div class="container">

	<div id="post">
		<h1>{{get_name}} wants you!</h1>
		<p class="lead">{{get_name}} wants you to sign up to be a zombie.  Also, we aren't going to pay you because of some very specific wording in your contact.  Suck it zombie.</p>
	</div>

</div><!-- /.container -->
