<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<p class="lead">Please check your email [<i>{{email}}</i>] in the next few days to see if you've been accepted into the research study.  Thank you for your interest!</p>
	</div>

</div><!-- /.container -->
