{{!< secure }}

<div class="container">

	<div id="post">
		<h1>Experiment</h1>
		<p class="lead">Please watch the entire video and pay close attention.  Once the video is over, you will automatically advance to the questionnaire.  If you do not, please click "questionnaire" in the navbar.  Thank you.</p>
		<span id="output">
			<video id="sf-trigger-video" width="640" height="360" preload="auto" autoplay poster="/assets/images/logo.png">
				<source src="{{video}}" type="video/mp4">
				Your browser does not support HTML5 video.
			</video>
		</span>
	</div>
</div><!-- /.container -->
