{{!< secure }}

<div class="container">

	<div id="post">
		<h1>Experiment</h1>
		<p class="lead">Watch this and be our zombies.  kthx</p>
		<span id="output">
        <!-- TODO: have specific video served to the user or display no content available -->
        <!-- maybe even use a get request to see the video? maybe... -->
			<video id="secureVid" autoplay="autoplay">
				<source src="{{video}}" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
			</span>
	</div>
</div><!-- /.container -->
