{{!< secure }}

<div class="container">

	<div id="post">
		<h1>{{get_name}} Secure Subject Portal</h1>
		<p class="lead">You're logged into the secure research subject portal.</p>
		<ul>
			<li>Make sure you view the <a href="/secure/experiment">experiment</a> for the manditory minimum of 60 seconds.</li>
			<li>After you've viewed the experiment, please take the questionnaire.</li>
			<li>We'll be contacting you by phone after you've taken the questionaire, it's <strong>critical</strong> to the study that you answer that call.</li>
		</ul>
		Be your own person!
	</div>

</div><!-- /.container -->
