{{!< secure }}

<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<p class="lead">Thanks for completing phase 1 of the experiment.  We will be contacting you in the near future to determine if you are right for phase 2 of our experiment.  It's very important that you answer this call and listen to the message carefully.</p>
	</div>

</div><!-- /.container -->
