{{!< secure }}

<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<p class="lead">We will be contacting you in the near future to determine if you are right for phase 2 of our experiment.  It's very important that you answering this call and listen to the message carefull.</p>
		<form id="sf-phone" action="/secure/phone" method="post">
			<label for="phone">Phone Number:</label>
			<br/>
			<input id="phone" type="text" name="sf_phone_number"><br>
			<br/>
			<input id="sf-submit" type="submit" value="Submit">
		</form>
	</div>

</div><!-- /.container -->
